*.retry
*~
.Xauthority
.cache/
.config/
.emacs.d/
.httpie/
.lesshst
.ssh/known_hosts
.swipl-dir-history/
.vim/
.zcompdump
tmp/
.dbus
.lnav
.ssh/id_rsa
.ssh/id_rsa.old
.ssh/id_rsa.pub
.sudo_as_admin_successful
.local
